<div class="primary-btn">
  <a class="btn" href="/punchin" style="background-color: #AFC1D6; color:aliceblue; border-radius: 25px;">clock in</a>
  <a class="btn" href="/punchout" style="background-color: #D6CA98; color:aliceblue; border-radius: 25px;">clock out</a>
</div>