{{!-- <nav class="nav d-grid gap-2 col-4 mx-auto">
  <div class="d-grid gap-2 col-4 mx-auto">
    <button type="button" class=" btn btn-block create-account">上班打卡</button>
  </div>
  <a class="nav-link active" aria-current="page" href="/punchin">上班打卡</a>
  <a class="nav-link" href="/punchout">下班打卡</a>
</nav> --}}

<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link active" href="/punchin">上班打卡</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/punchout">下班打卡</a>
  </li>
</ul>