<script>
  window.addEventListener('DOMContentLoaded', () => {
    const dateElement = document.getElementById('date');
    const timeElement = document.getElementById('time');

    function updateDateTime() {
      const now = new Date();

      const dateString = now.toLocaleDateString();  // 取得當前日期的字串
      dateElement.textContent = dateString;  // 更新日期顯示

      const timeString = now.toLocaleTimeString();  // 取得當前時間的字串
      timeElement.textContent = timeString;  // 更新時間顯示
    }

    setInterval(updateDateTime, 1000);
  });
</script>

<p><i class="fa-solid fa-calendar-days"></i> Today：<span id="date"></span></p>
<p><i class="fa-solid fa-clock"></i> Time：<span id="time"></span></p>