<div class="registration-form">

  <form id="punchOutForm" action="/punchout?_method=PUT" method="POST">
    <div class="form-icon">
      <span><i class="fa-solid fa-house"></i></span>
    </div>
    {{> clock-in-tabs}}
    <div class="d-grid gap-2 col-4 mx-auto">
      <button type="submit" class="btn btn-block create-account ">下班</button>
    </div>
  </form>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="assets/js/script.js"></script>