<div class="registration-form">
  <form id="punchInForm" action="/punchin" method="POST">
    <div class="form-icon">
      <span><i class="fa-solid fa-clock"></i></span>
    </div>
    {{> clock-in-tabs}}
    {{> show-now-time}}
    <div class="form-group pt-3">
      <input type="text" class="form-control item" id="workTitle" name="workTitle" placeholder="work title"
        maxlength="15">
    </div>
    <div class="input-group">
      <span class="input-group-text">Work Details</span>
      <textarea class="form-control" aria-label="With textarea" id="workDetails" name="workDetails"></textarea>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button type="submit" class="btn btn-outline-success mt-3">上班</button>
    </div>
  </form>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="assets/js/script.js"></script>