<div class="registration-form">

  <form id="punchOutForm" action="/punchout?_method=PUT" method="POST">
    <div class="form-icon">
      <span><i class="fa-solid fa-house"></i></span>
    </div>
    {{> clock-in-tabs}}
    {{!-- 時間顯示 start --}}
    {{> show-now-time}}
    {{!-- 時間顯示 end --}}
    <div class="d-grid gap-2 col-4 mx-auto">
      <button type="submit" class="btn btn-outline-success mt-3">下班</button>
    </div>
  </form>
</div>