<div>
  <form id="punchInForm" action="/punchin" method="POST">
    <div class="mb-4 text-center">
      <h1 class="h3 font-weight-normal mb-3">Clock-In</h1>
    </div>
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" required>
    <br>
    <label for="punchInTime">Punch In Time:</label>
    <input type="time" id="punchInTime" name="punchInTime" required>
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <br>
    <label for="workTitle">Work Title:</label>
    <input type="text" id="workTitle" name="workTitle" required>
    <br>
    <label for="workDetails">Work Details:</label>
    <textarea id="workDetails" name="workDetails" required></textarea>
    <br>
    <button type="submit">上班</button>
  </form>
</div>

<div>
  <form id="punchOutForm" action="/punchout?_method=PUT" method="POST">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" required>
    <br>
    <button type="submit">下班</button>
  </form>
</div>