<div class="wrapper">
  <div class="logo">
    <img src="https://hackmd.io/_uploads/BycC7F3uh.png" alt="earth-clock">

  </div>
  <div class="text-center mt-4 name">
    Welcome
  </div>
  <form class="p-3 mt-3" action="/login" method="POST">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="account" id="account" placeholder="account" required>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>

    <button class="btn mt-3">Login</button>
  </form>
  {{!-- ! google登入 --}}
  <div class="google-auth align-items-center">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload" data-client_id="235655779647-s5ng0h3l63sssa41v21vckavqkqjrigq.apps.googleusercontent.com"
      data-login_uri="http://localhost:3000/auth/google" data-auto_prompt="false">
    </div>
    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
      data-shape="rectangular" data-logo_alignment="left">
    </div>
  </div>



  {{!-- ! google登入 --}}
  <div class="text-center fs-6">
    Don't have an account?
    <a href="/register">Sign up</a>
  </div>
</div>