<div class="wrapper">
  <div class="logo">
    <img src="https://hackmd.io/_uploads/BycC7F3uh.png" alt="earth-clock">

  </div>
  <div class="text-center mt-4 name">
    Welcome
  </div>
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="account" id="account" placeholder="account" required>
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <button class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">
    Don't have an account?
    <a href="/register">Sign up</a>
  </div>
</div>