<div class="wrapper">
  <div class="logo">
    <img src="https://hackmd.io/_uploads/BycC7F3uh.png" alt="earth-clock">

  </div>
  <div class="text-center mt-4 name">
    Sign Up
  </div>
  <form class="p-3 mt-3" action="/register" method="POST">
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="name" id="name" placeholder="Username" value="{{name}}">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" name="account" id="account" placeholder="account" value="{{account}}">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="far fa-envelope"></span>
      <input type="text" name="email" id="email" placeholder="email" value="{{email}}">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" name="password" id="password" placeholder="Password" value="{{password}}">
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-check"></span>
      <input type="password" name="passwordCheck" id="pwdCheck" placeholder="Password Check" required>
    </div>
    <button class="btn mt-3">Sign Up</button>
  </form>
  <div class="text-center fs-6">
    <a href="/login">Login</a>
  </div>
</div>