/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ecf0f3;
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #0ebbb8;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #0c918f;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03a9f4;
}

.wrapper a:hover {
  color: #039be5;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}

/*  */

.registration-form {
  padding: 50px 0;
}

.registration-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
  text-align: center;
  background-color: #0ebbb8;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #655a7c;
  border: none;
  color: white;
  margin-top: 20px;
}

.registration-form .social-media {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
  margin-top: 30px;
  margin-bottom: 16px;
}

.registration-form .social-icons a {
  font-size: 23px;
  margin: 0 3px;
  color: #5691ff;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: #fff;
  line-height: 45px;
}

.registration-form .social-icons a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

/* ! admin後台頁面 */

.event-schedule-area .section-title .title-text {
  margin-bottom: 20px;
}

.event-schedule-area .tab-area .nav-tabs {
  border-bottom: inherit;
}

.event-schedule-area .tab-area .nav {
  border-bottom: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* margin-top: 80px; */
}

.event-schedule-area .tab-area .nav-item {
  margin-bottom: 75px;
}
.event-schedule-area .tab-area .nav-item .nav-link {
  text-align: center;
  font-size: 22px;
  color: #333;
  font-weight: 600;
  border-radius: inherit;
  border: inherit;
  padding: 0px;
  text-transform: capitalize !important;
}
.event-schedule-area .tab-area .nav-item .nav-link.active {
  color: #0eafbb;
  background-color: transparent;
}

.event-schedule-area .tab-area .tab-content .table {
  margin-bottom: 0;
  width: 80%;
}
.event-schedule-area .tab-area .tab-content .table thead td,
.event-schedule-area .tab-area .tab-content .table thead th {
  border-bottom-width: 1px;
  font-size: 20px;
  font-weight: 600;
  color: #252525;
}
.event-schedule-area .tab-area .tab-content .table td,
.event-schedule-area .tab-area .tab-content .table th {
  border: 1px solid #b7b7b7;
  padding-left: 30px;
}
.event-schedule-area .tab-area .tab-content .table tbody th .heading,
.event-schedule-area .tab-area .tab-content .table tbody td .heading {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-weight: 500;
  color: #252525;
  margin-bottom: 6px;
}
.event-schedule-area .tab-area .tab-content .table tbody th span,
.event-schedule-area .tab-area .tab-content .table tbody td span {
  color: #4125dd;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 6px;
  display: block;
}
.event-schedule-area .tab-area .tab-content .table tbody th span.date,
.event-schedule-area .tab-area .tab-content .table tbody td span.date {
  color: #656565;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}
.event-schedule-area .tab-area .tab-content .table tbody th p {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.event-schedule-area-two .section-title .title-text h2 {
  margin: 0px 0 5px;
}

.event-schedule-area-two ul.custom-tab {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}
.event-schedule-area-two ul.custom-tab li {
  margin-right: 70px;
  position: relative;
}
.event-schedule-area-two ul.custom-tab li a {
  color: #252525;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 35px 0;
  position: relative;
}
.event-schedule-area-two ul.custom-tab li a:hover:before {
  width: 100%;
}
.event-schedule-area-two ul.custom-tab li a:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  background: #4125dd;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.event-schedule-area-two ul.custom-tab li a.active {
  color: #0eafbb;
}

.event-schedule-area-two .primary-btn {
  margin-top: 40px;
}

.event-schedule-area-two .tab-content .table {
  -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
/* ! 頂部欄位的背景色  */
.event-schedule-area-two .tab-content .table thead {
  background-color: #afc1d6;
  color: #000000;
  font-size: 20px;
}
.event-schedule-area-two .tab-content .table thead tr th {
  padding: 20px;
  border: 0;
}
.event-schedule-area-two .tab-content .table tbody {
  background: #fff;
}
.event-schedule-area-two .tab-content .table tbody tr.inner-box {
  border-bottom: 1px solid #dee2e6;
}
.event-schedule-area-two .tab-content .table tbody tr th {
  border: 0;
  padding: 30px 20px;
  vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date {
  color: #252525;
  text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date span {
  font-size: 50px;
  line-height: 30px;
  font-weight: normal;
}
.event-schedule-area-two .tab-content .table tbody tr td {
  padding: 30px 20px;
  vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr td .r-no span {
  color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a {
  font-size: 20px;
  line-height: 20px;
  color: #0eafbb;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  h3
  a:hover {
  color: #616234;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .categories {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px 0;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .categories
  a {
  color: #252525;
  font-size: 16px;
  margin-left: 10px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .categories
  a:before {
  content: '\f07b';
  font-family: fontawesome;
  padding-right: 5px;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .time
  span {
  color: #252525;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .organizers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px 0;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .organizers
  a {
  color: #4125dd;
  font-size: 16px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .organizers
  a:hover {
  color: #4125dd;
}
.event-schedule-area-two
  .tab-content
  .table
  tbody
  tr
  td
  .event-wrap
  .organizers
  a:before {
  content: '\f007';
  font-family: fontawesome;
  padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
  margin-top: 0;
  text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-img img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

/* ! 按鈕 */
